.footer {
    position: relative;
    display: flex;
    height: 400px;
    background: black;
    right: 0;


}

.map {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.map>iframe {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.contact_details {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    align-items: center;
}

.contact {
    height: inherit;
}

.contact p {
    display: flex;
    text-align: start;
    color: white;
    font-size: 20px;
}

.phone>p,
a {
    text-align: start;
    color: white;
    font-size: 20px;
}

.email>p,
a {
    color: white;
    font-size: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .footer {
        height: 500px;
        flex-direction: column;
    }

    .contact_details {
        width: 100%;
    }

    .map {
        width: 100%;
    }
}