/* .grid {
    width: 200px;
}

.grid {
    width: 200px;
    justify-content: center;

}
.profileImg
{
    display: flex;
    justify-content: center;
}

.grid p {
    display: flex;

    width: inherit;
}

.member_card {

    display: flex;
    justify-content: center;
    flex-direction: column;
} */
.grid {
    height: 200px;
    margin: 30px;
    
}

.grid>img {
    width: 200px;
    height: inherit;
    border-radius: 50%;
}

.member_card {
    margin: 5px;
    height: 300px;
    
}

.member_card>p {
    display: flex;
    width: inherit;
    justify-content: center;
    text-align: center;
}